# Виртуальные окружения
.venv/
venv/
env/

# Секреты и переменные окружения
.env

# Кэш и компилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Базы данных
*.sqlite
*.sqlite3
*.db

# Логи
*.log

# Служебные и временные папки
downloads/
files/

# Сгененированные файлы (сборка проекта в один txt для ревью)
project_full.txt

# Настройки IDE (если хочешь, чтобы личные настройки не попадали в репо)
.vscode/

# Windows / macOS мусор
Thumbs.db
.DS_Store